.main_box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 50px;
}

.left {
  position: absolute;
  width: 300px;
  top: 50px;
  bottom: 0;
  border-right: 1px solid #eee;
}

.main {
  padding-left: 300px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.prefer_title {
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
  padding: 10px;
}

.radio_box {
  padding: 10px;
}

.select_city {
  padding: 2px 0;
}

.selectWrap > .ant-select {
  width: 100%;
}

.ant-layout-sider:nth-child(3) {
  position: absolute;
  left: 200px;
  top: 170px;
}

.ant-layout-sider:nth-child(3)  .ant-menu {
  background-color: #ffffff05;
}

.select_city > .ant-cascader-picker {
  display: block;
}